<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.CheckUserDetails.AdminLogin</servlet-class>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
</web-app>